<!DOCTYPE html>
<html lang="en" data-theme="coffee">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lego Collection - About</title>
    <link href="/css/main.css" rel="stylesheet">
</head>

<body tabindex="-1">
    <%- include('partials/navbar', {page: '/about'}) %>


    <!-- content -->
    <div class="container mx-auto">
        <div class="grid grid-cols-1 mb-4">
            <div class="hero-content text-center">
                <div class="max-w-md">
                    <h1 class="text-5xl font-bold">About</h1>
                    <p class="py-6">Learn more about me </p>
                </div>
            </div>
        </div>
<!--Grid-->
        <div class="grid grid-cols-1 md:grid-cols-1 lg:grid-cols-1 gap-">
            <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
                <div>
                  <img class="w-full rounded-lg" src="https://live.staticflickr.com/3520/3273794135_7fa6cdf968_b.jpg" alt="profile">
                    <br>
                </div>
                <div class="p-2 ">
                  <p>My name is Kwai Fong Cheug.</p>
                  <p>I am studying computer Programming at Seneca College, I love exploring the world, both the digital world and the real world. <br>
                I love chatting with different people and know more about their stories.  </p>
          
                </div>
          
              </div>

        </div>
    </div>
</body>

</html>
