<!DOCTYPE html>
<html lang="en" data-theme="coffee">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lego Collection - Register</title>
    <link href="/css/main.css" rel="stylesheet">
</head>

<body tabindex="-1">
    <%- include('partials/navbar', {page: '/register' }) %>
    <div class="max-w-md">
        <h1 class="text-5xl font-bold">Register</h1>
        <p class="py-6">Please provide your credentials below</p>
      </div>
<!--Form content-->
<div class="card bg-base-200  max-w-[700px] mx-auto p-5 mt-6">
    

<form method="post" action="/register">

        <!-- User Name Input -->
            <div class="form-control">
                <label>userName</label>
                <input type="text" name="userName" required placeholder="User Name" />
            </div>

         <!-- password Input -->
            <div class="form-control">
                <label class="label">
                    <span class="label-text">Password</span>
                </label>
                    <input type="password" name="password" required placeholder="Password"/>
            </div>            

        <!-- password2 Input -->
            <div class="form-control">
                <label class="label">
                    <span class="label-text">Password2</span>
                </label>
                    <input type="password" name="password2" required placeholder="Confirm Password"/>
            </div>            
        <!-- email Input -->
            <div class="form-control">
                <label class="label">
                    <span class="label-text">email</span>
                </label>
                <input type="email" name="email" required placeholder="Email Address" />
            </div>      

            <input type="submit" value = "register"/>

             </form>
                <% if (typeof errorMessage !== 'undefined') { %>
                    <div class="alert alert-error">
                        <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" /></svg>
                        <span><%= errorMessage %></span>
                    </div>
                <% } else if (typeof successMessage !== 'undefined') { %>
                    <div class="alert">
                        <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" /></svg>
                        <span><%= successMessage %></span>
                    </div>
                    <br />
                    <a href="/login" class="btn btn-success">
                        Proceed to Log in
                    </a>
                <% } %>
                                  
</div>
</body>
</html>
